/* Scoped styles for SpotlightGallery component */
.spotlight-gallery {
  position: relative;
  width: 100vw;
  height: 100svh;
  padding: 2rem;
  overflow: hidden;
}

.spotlight-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.spotlight-gallery .spotlight-images,
.spotlight-gallery .spotlight-cover-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  perspective: 2000px;
}

.spotlight-gallery .img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:344px;
  height:455px;
  /* width: 500px;
  height: 350px; */
  will-change: transform;
}

.spotlight-gallery .spotlight-cover-img {
  will-change: transform;
}

@media (max-width: 1000px) {
  .spotlight-gallery .img {
    width: 80%;
    height: auto;
  }
}
